.gun {
    position: absolute;
    bottom: -600px;
    width: 10px;
    height: 400px;
    background-color: rgba(243, 244, 247, 0.7);
    border-radius: 5px;
    box-shadow: 0 0 9px 6px rgba(30,48,245,1);
    box-shadow: 0 0 9px 6px rgba(30,48,245,1);
    opacity: 1;
   
    
    }

    .rightGun {
        right: 5px;
        transform: rotate(-35deg);
        z-index: 10;
    }

    .leftGun {
        left: 5px;
        transform: rotate(35deg);
        z-index: 10;
    }

    .enemyGun {
      transform-origin: 50% 50%;
      width:40px;
      height: 40px;
      background-image: url(../img/fire-ball1.png);
      background-size: cover;
      z-index: 30;
      opacity: 0;
      margin: auto;  
     
    }




